body{
  margin: 5em;
  background-color: lightgrey;
}

ul{  
  padding: 0;
  font-weight: bold;
  list-style-type: none;
  
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
  color: coral;
  
}

footer{
  padding-top: 1em;
  border-top: 3px solid #000;
   
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
  font-style: italic;
  color: gray;
  
 
}

a {
  text-decoration: none;
}
img {
	width: 1em;
	height: 1em;
}
nav {
  border-bottom: 1px solid #000;
  
}
h1{
  border-bottom: 3px solid #000;
  
}